body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; }

.main .header {
  background-color: #00cdff;
  color: #ffffff;
  padding: 15px 15px; }
  .main .header .h-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px; }
  .main .header .add-list-btn-cont {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main .header .add-list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #a3a3a3;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    outline: none;
    cursor: pointer; }
    .main .header .add-list-btn .fa-plus {
      font-size: 18px; }
  .main .header .dev-credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    .main .header .dev-credit .dev-name {
      font-size: 12px;
      cursor: default; }
    .main .header .dev-credit .dev-copyright {
      font-size: 12px;
      cursor: default; }

.main .content .start-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%; }

.main .content .all-lists {
  margin-top: 20px; }
  .main .content .all-lists .list {
    border: 2px solid #00cdff;
    border-radius: 5px;
    padding: 15px 15px;
    margin-bottom: 20px; }
    .main .content .all-lists .list .del-list {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      font-size: 14px; }
      .main .content .all-lists .list .del-list .fa-times {
        padding: 5px;
        cursor: pointer; }
    .main .content .all-lists .list .list-title {
      width: auto;
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: bold;
      cursor: text; }
    .main .content .all-lists .list .item-cont .add-item-cont {
      margin-bottom: 15px; }
    .main .content .all-lists .list .item-cont .all-items .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px; }
      .main .content .all-lists .list .item-cont .all-items .item .item-start {
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .content .all-lists .list .item-cont .all-items .item .item-start .fa-square {
          font-size: 17px;
          cursor: pointer; }
        .main .content .all-lists .list .item-cont .all-items .item .item-start .item-name {
          margin-left: 20px;
          padding: 5px 10px; }
        .main .content .all-lists .list .item-cont .all-items .item .item-start .new-item-name {
          outline: none;
          height: 33px;
          margin-left: 30px;
          border: none; }
        .main .content .all-lists .list .item-cont .all-items .item .item-start .uncompleted:hover {
          transition: background-color 1s;
          background-color: #d3d3d3;
          border-radius: 5px; }
      .main .content .all-lists .list .item-cont .all-items .item .fa-minus {
        cursor: pointer; }
    .main .content .all-lists .list .item-cont .all-items .completed .items-completed {
      margin: 30px 0 25px 0; }
    .main .content .all-lists .list .item-cont .all-items .completed .remove-completed .rm-completed-btn {
      border-radius: 5px;
      outline: none;
      font-size: 15px;
      padding: 5px 10px;
      margin-bottom: 5px; }
    .main .content .all-lists .list .item-cont .all-items .checked-off {
      background-color: #a3a3a3;
      color: #d3d3d3; }

.main .add-list-modal .add-list-cont {
  display: flex;
  width: 100%; }
  .main .add-list-modal .add-list-cont .add-list {
    margin: 15px 0; }
