body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF; }
  .container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #00cdff; }
    .container .header .h-title {
      color: #FFFFFF; }
  .container .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .container .main .left {
      width: 20%;
      height: 800px; }
      .container .main .left .new-list {
        display: flex;
        justify-content: flex-end; }
        .container .main .left .new-list .add-list {
          margin: 10px 30px 0 0;
          color: #a3a3a3; }
    .container .main .right {
      width: 80%;
      height: 800px;
      box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.08); }
